In [10]:
import pandas as pd

df = pd.read_csv('The Beatles songs dataset 285x45 v0.csv')
to_drop = ['URI', 'Time_signature', 'Energy', 'Loudness', 'Instrumentalness', 'Speechiness', 'Tempo', 'Other releases', 'Single A side', 'Single B side', 'Single certification', 'Styles', 'Themes', 'Moods', 'Songwriter(s)', 'Lead vocal(s)', 'Cover', 'Covered by', 'Chart position UK (Wikipedia)', 'Chart position US (Wikipedia)', 'Highest position (The Guardian)', 'Weeks on chart in UK (The Guardian)', 'Weeks at No1 in UK (The Guardian)', 'Highest position (Billboard)', 'Weeks at No1 (Billboard)', 'Top 50 (Billboard)', 'Top 50 (Ultimate classic rock)', 'Top 50 (NME)', 'Top 50 (Top50songs.org)', 'Album', 'Genre', 'Top 50 (USA today, 2017)','Album debut', 'Top 50 (Vulture, by Bill Wyman)']

df.drop(to_drop, inplace = True, axis = 1)
df.head(10)

,Title,Year,Popularity,Duration,Key,Mode,Valence,Danceability,Acousticness,Liveness,Top 50 (Rolling Stone)
0,(You're So Square) Baby I Don't Care - Studio Jam,NaN,29.0,43.0,9.0,1.0,0.353,0.411,0.09910,0.3640,NaN
1,12-bar Original,1965,31.0,175.0,9.0,1.0,0.566,0.600,0.00154,0.1230,NaN
2,A Beginning - Anthology 3 Version,NaN,29.0,50.0,0.0,1.0,0.033,0.264,0.95800,0.3380,NaN
3,A Day in the Life,1967,65.0,335.0,4.0,0.0,0.175,0.364,0.29000,0.9220,1.0
4,A Hard Day's Night,1964,71.0,152.0,0.0,1.0,0.797,0.590,0.13700,0.0996,11.0
5,A Shot of Rhythm and Blues,1963,35.0,136.0,2.0,1.0,0.968,0.699,0.87900,0.2650,NaN
6,A Taste of Honey,1963,51.0,163.0,1.0,0.0,0.412,0.420,0.69800,0.1040,NaN
7,Across the Universe,1968,69.0,230.0,1.0,1.0,0.858,0.257,0.36100,0.0702,NaN
8,Across the Universe - Take 2 / Anthology 2 Ver...,NaN,35.0,212.0,2.0,1.0,0.463,0.488,0.68100,0.0844,NaN
9,Act Naturally,1965,52.0,139.0,7.0,1.0,0.944,0.702,0.36600,0.1530,NaN

In [9]:
df.describe()

,Popularity,Duration,Key,Mode,Valence,Danceability,Acousticness,Liveness,Top 50 (Rolling Stone)
count,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,49.000000
mean,50.087719,158.407018,4.961404,0.856140,0.692141,0.528540,0.385921,0.226137,25.551020
std,14.415466,57.361001,3.387308,0.351565,0.234652,0.131461,0.287988,0.196666,14.723933
min,22.000000,23.000000,0.000000,0.000000,0.033000,0.146000,0.000028,0.037100,1.000000
25%,39.000000,128.000000,2.000000,1.000000,0.553000,0.440000,0.112000,0.100000,13.000000
50%,52.000000,149.000000,4.000000,1.000000,0.735000,0.538000,0.346000,0.145000,26.000000
75%,59.000000,175.000000,9.000000,1.000000,0.886000,0.629000,0.629000,0.282000,38.000000
max,87.000000,502.000000,11.000000,1.000000,0.979000,0.880000,0.992000,0.926000,50.000000

In [11]:
#Replace NaN in columns Year and Top 50(Rolling Stones)
df['Year'].fillna(df['Year'].median(), inplace = True)